{% extends "includes/base.html" %}
{% load static %}
{% block specific_css %}

<link href="{% static 'css/cart.css' %}" rel="stylesheet">

{% endblock %}

{% block main_content %}
	<main class="bg_gray">
		<div class="container margin_30">
			<div class="page_header">
				<div class="breadcrumbs">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li>Cart</li>
					</ul>
				</div>
				<h1>Cart page</h1>
			</div>
			<!-- /page_header -->
			<table class="table table-striped cart-list">
				<thead>
					<tr>
						<th>
							Product
						</th>
						<th>
							Price
						</th>
						<th>
							Quantity
						</th>
						<th>
							Subtotal
						</th>
						<th>
							
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in cart_items %}
					<tr>
						<td>
							<div class="thumb_cart">
								{% for image in item.product.product_images.all|slice:":1" %}
								<img src="{{image.img.url}}" data-src="{{image.img.url}}"  class="lazy" alt="Image">
								{% endfor %}
							</div>
							<span class="item_cart">{{item.product}}</span>
						</td>
						<td>
							<strong>₹ {{item.product.price}}</strong>
						</td>
						<td>
							<div class="numbers-row">
								<input type="text" value="{{item.quantity}}" onclick="update_cart_item('{{item.id}}',this.value)" id="quantity_{{item.id}}" class="qty2" name="quantity_1" readonly>
								<div class="inc button_inc">+</div>
								<div class="dec button_inc">-</div>
							</div>
						</td>
						<td>
							<strong id="item_subtotal_{{item.id}}">₹  {% widthratio item.product.price 1 item.quantity  %}</strong>
						</td>
						<td class="options">
							<a href="{% url 'remove_from_cart' item.id %}"><i class="ti-trash"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="row add_top_30 flex-sm-row-reverse cart_actions">
				<div class="col-sm-4 text-end">
					<button type="button" class="btn_1 gray">Update Cart</button>
				</div>
					<div class="col-sm-8">
					<div class="apply-coupon">
						<div class="form-group">
							<div class="row g-2">
								<div class="col-md-6"><input type="text" name="coupon-code" value="" placeholder="Promo code" class="form-control"></div>
								<div class="col-md-4"><button type="button" class="btn_1 outline">Apply Coupon</button></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /cart_actions -->
	
		</div>
		<!-- /container -->
		
		<div class="box_cart">
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-xl-4 col-lg-4 col-md-6">
						<ul>
							
							<li id="final_amount">
								<span>Total</span> ₹ {{total_price}}
							</li>
						</ul>
						<a href="{% url 'checkout' %}" class="btn_1 full-width cart">Proceed to Checkout</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /box_cart -->
		
	</main>
	<!--/main-->
{% endblock %}	


{% block specific_js %}


<script>
	function update_cart_item(cart_item_id,new_quantity){
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/update_cart_item/' + cart_item_id + '/' + new_quantity + '/');
		// var csrfToken = getCookie('csrftoken');
		
		var csrfToken = '{{ csrf_token }}';

		xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {	
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        Swal.fire({ title: "", text: "Quantity updated successfully", icon: "success", });
						$("#item_subtotal_"+cart_item_id).html('₹ ' + response.new_subtotal);
						$("#final_amount").html('₹ ' + response.total);
                    } else {
						Swal.fire({ title: "", text: "Cart item not found", icon: "error", });
                    }
                } else {
					Swal.fire({ title: "", text: "Error updating quantity", icon: "error", });
                }
            }
        };
        xhr.send();
	}
</script>
{% endblock %}	
