{% extends "includes/base.html" %}
{% load static %}

{% block specific_css %}
<link href="{% static 'css/checkout.css' %}" rel="stylesheet">
{% endblock %}


{% block main_content %}
	
	<main class="bg_gray">
	
		
	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li>Checkout</li>
				</ul>
		</div>
		<h1>Confirm Details and pay</h1>
			
	</div>
	<!-- /page_header -->
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="step first">
						<h3>1. User Info and Billing address</h3>
					 
						<div class="tab-content checkout">
							<a href="#0" class="info" data-bs-toggle="modal" data-bs-target="#save_address">Add New Address</a>
							<div class="tab-pane fade show active" id="address_tab" role="tabpanel" aria-labelledby="tab_1">
								
							</div>
						</div>
					</div>
					<!-- /step -->
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="step middle payments">
						<h3>2. Payment and Shipping</h3>
							<ul>
								<li>
									<label class="container_radio">Credit Card<a href="#0" class="info" data-bs-toggle="modal" data-bs-target="#payments_method"></a>
										<input type="radio" name="payment" checked>
										<span class="checkmark"></span>
									</label>
								</li>
								<li>
									<label class="container_radio">Paypal<a href="#0" class="info" data-bs-toggle="modal" data-bs-target="#payments_method"></a>
										<input type="radio" name="payment">
										<span class="checkmark"></span>
									</label>
								</li>
								<li>
									<label class="container_radio">Cash on delivery<a href="#0" class="info" data-bs-toggle="modal" data-bs-target="#payments_method"></a>
										<input type="radio" name="payment">
										<span class="checkmark"></span>
									</label>
								</li>
								<li>
									<label class="container_radio">Bank Transfer<a href="#0" class="info" data-bs-toggle="modal" data-bs-target="#payments_method"></a>
										<input type="radio" name="payment">
										<span class="checkmark"></span>
									</label>
								</li>
							</ul>
							<div class="payment_info d-none d-sm-block"><figure><img src="{% static 'img/cards_all.svg' %}" alt=""></figure>	<p>Sensibus reformidans interpretaris sit ne, nec errem nostrum et, te nec meliore philosophia. At vix quidam periculis. Solet tritani ad pri, no iisque definitiones sea.</p></div>
							
							<h6 class="pb-2">Shipping Method</h6>
							
						
						<ul>
								<li>
									<label class="container_radio">Standard shipping<a href="#0" class="info" data-bs-toggle="modal" data-bs-target="#payments_method"></a>
										<input type="radio" name="shipping" checked>
										<span class="checkmark"></span>
									</label>
								</li>
								<li>
									<label class="container_radio">Express shipping<a href="#0" class="info" data-bs-toggle="modal" data-bs-target="#payments_method"></a>
										<input type="radio" name="shipping">
										<span class="checkmark"></span>
									</label>
								</li>
								
							</ul>
						
					</div>
					<!-- /step -->
					
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="step last">
						<h3>3. Order Summary</h3>
					<div class="box_general summary">
						<ul>
							{% for item in cart_items %}
							<li class="clearfix">
								<em>{{item.quantity}}x {{item.product}}</em>
								<span>₹ {% widthratio item.product.price 1 item.quantity  %}</span>
							</li>
							{% endfor %}
						</ul>
						<ul>
							<li class="clearfix"><em><strong>Subtotal</strong></em>  <span>₹ {{total_price}}</span></li>
							<li class="clearfix"><em><strong>Shipping</strong></em> <span>₹ 0</span></li>
							
						</ul>
						<div class="total clearfix">TOTAL <span>₹ {{total_price}}</span></div>
						
						
						<a href="#" class="btn_1 full-width">Confirm and Pay</a>
					</div>
					<!-- /box_general -->
					</div>
					<!-- /step -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->


	<!-- Modal Payments Method-->
	<div class="modal fade" id="payments_method" tabindex="-1" role="dialog" aria-labelledby="payments_method_title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  	<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="payments_method_title">Payments Methods</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, oratio possim ius cu. Labore prompta nominavi sea ei. Sea no animal saperet gloriatur, ius iusto ullamcorper ad. Qui ignota reformidans ei, vix in elit conceptam adipiscing, quaestio repudiandae delicatissimi vis ei. Fabulas accusamus no has.</p>
				<p>Et nam vidit zril, pri elaboraret suscipiantur ut. Duo mucius gloriatur at, in vis integre labitur dolores, mei omnis utinam labitur id. An eum prodesset appellantur. Ut alia nemore mei, at velit veniam vix, nonumy propriae conclusionemque ea cum.</p>
				</div>
		  	</div>
		</div>
	</div>


	<div class="modal fade" id="save_address" tabindex="-1" role="dialog" aria-labelledby="save_address_title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  	<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="save_address_title">Add New Address</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="tab_1">
						
						<div class="form-group">
							<input type="text" name="full_name" class="form-control" placeholder="Full Name">
						</div>

						<div class="form-group">
							<input type="text" name="phone" class="form-control" placeholder="Phone">
						</div>

						<div class="form-group">
							<input type="text" name="alt_phone" class="form-control" placeholder="Altername Phone">
						</div>

						<div class="row no-gutters">
							<div class="col-6 form-group pr-1">
								<input type="text" name="pincode" class="form-control" placeholder="Pincode">
							</div>
							<div class="col-6 form-group pl-1">
								<input type="text" name="city" class="form-control" placeholder="City">
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col-6 form-group pr-1">
								<input type="text" name="state" class="form-control" placeholder="State">
							</div>
							<div class="col-6 form-group pl-1">
								<div class="custom-select-form">
									<select class="wide add_bottom_15" name="address_type" id="country">
										<option value="" selected>Address Type</option>
										<option value="Home">Home</option>
										<option value="Work">Work</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group">
							<input type="text" name="house_building" class="form-control" placeholder="House or Building">
						</div>

						<div class="form-group">
							<input type="text" name="road_area" class="form-control" placeholder="Road or Area">
						</div>

						<div class="form-group">
							<input type="text" name="nearby" class="form-control" placeholder="Nearby">
						</div>
						 
					</div>
				</div>
		  	</div>
		</div>
	</div>




{% endblock %}

