{% extends "includes/base.html" %}
{% load static %}

{% block specific_css %}
<link href="{% static 'css/checkout.css' %}" rel="stylesheet">
{% endblock %}


{% block main_content %}
	
	<main class="bg_gray">
		<div class="container">
            <div class="row justify-content-center">
				<div class="col-md-5">
					<div id="confirm">
						 
					<h2>Order {{payment_status}}!</h2>
					<p>You will receive a confirmation email soon!</p>
					{% if payment_status == 'succeeded' %}
						<a href="{% url 'view_order_details' order_id %}" class="btn btn-primary">Order Details</a>
					{% else %}
						<a href="{% url 'view_my_orders' %}" class="btn btn-primary">My Orders</a>
					{% endif %}
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
		
	</main>
	<!--/main-->

{% endblock %}

